body {
    background: #111;
    color: white;
    font-family: sans-serif;
    text-align: center;
}

.hidden { display: none; }

#chatBox {
    height: 300px;
    overflow-y: auto;
    border: 1px solid #444;
    margin: 10px;
    padding: 10px;
    text-align: left;
}

.status {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

input, select, button {
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
}

button {
    background: crimson;
    color: white;
    border: none;
}

button:hover {
    opacity: 0.8;
}